---
name: CI

on:
  push:
    branches: ["main"]
    tags:
      - "*"
  pull_request:
    branches: ["main"]


env:
  # Give nice tracebacks on segfaults.
  PYTHONFAULTHANDLER: "true"
  MATURIN_VERSION: "0.12.19"


jobs:
  tests:
    name: "${{ matrix.os }}: Python ${{ matrix.python-version }}"
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        os: ["ubuntu-20.04", "macos-10.15", "windows-latest"]

    env:
      MATURIN_EXTRA: ""

    runs-on: "${{ matrix.os }}"
    steps:
      - uses: "actions/checkout@v2"
        with:
          # We need tags to get the correct code version:
          fetch-depth: 0
      - uses: "actions/setup-python@v2"
        with:
          python-version: "${{ matrix.python-version }}"
      - uses: "actions-rs/toolchain@v1"
        with:
          toolchain: stable
      - name: "Compile"
        run: |
          pip install -r requirements-dev.txt
          pip install .
      - name: "Tests"
        run: |
          flake8 tests
          black --check tests
          pytest tests
      - name: "Enable universal2 on Python >= 3.9 on macOS"
        if: matrix.python-version != '3.7' && matrix.python-version != '3.8'
        run:
          echo "MATURIN_EXTRA=--universal2" >> $GITHUB_ENV
      - name: "Wheels"
        uses: messense/maturin-action@v1
        with:
          maturin-version: "${{ env.MATURIN_VERSION }}"
          command: build
          manylinux: auto
          args: --release --out target/wheels/ -i python${{ matrix.python-version }} ${{ env.MATURIN_EXTRA }}
      - name: "sdist"
        if: ${{ matrix.os == 'ubuntu-20.04' && matrix.python-version == '3.9' }}
        run: |
          pip install maturin==${{ env.MATURIN_VERSION }}
          maturin sdist
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Wheels
          path: target/wheels/*.whl
      - name: Archive production artifacts 2
        uses: actions/upload-artifact@v2
        with:
          name: Wheels
          path: target/wheels/ahocorasick*.tar.gz

  cross:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build wheels
        uses: messense/maturin-action@v1
        with:
          maturin-version: "${{ env.MATURIN_VERSION }}"
          target: aarch64-unknown-linux-gnu
          manylinux: auto
          args: --release --out target/wheels/ -i python${{ matrix.python-version }}
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Wheels
          path: target/wheels/*.whl
